WANDB_API_KEY=
WANDB_PROJECT=advent-one
WEAVE_PROJECT=advent-one
VL_SERVER_URL=http://localhost:8001
JP_SERVER_URL=http://localhost:8002
HOST=0.0.0.0
PORT=8000
FRONTEND_ORIGIN=*
VL_MODEL_ID=lfm2.5-vl-extract
JP_MODEL_ID=lfm2.5-1.2b-jp
ACTIVE_SCHEMA=sakura_logistics
